
Game6_Asteroids/Game6_Asteroids_unityproject/Library/PackageCache/com.unity.visualscripting@1.8.0/Editor/VisualScripting.Core/Descriptors/DescriptorAttribute.cs.meta
Game7_BrickBreaker/Game7_BrickBreaker_unityproject/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/lld
Game7_BrickBreaker/Game7_BrickBreaker_unityproject/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/llvm-lipo
Game7_BrickBreaker/Game7_BrickBreaker_unityproject/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld
